

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@font-face {
    font-family: Inter;
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: Inter;
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter;
    src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
    font-family: Inter;
    src: url(./assets/fonts/static/Inter-VariableFont_slnt,wght.ttf);
}
h1{
   margin: 0; 
}
h3{
    margin: 0;
}
body{
    background-color: hsl(0, 0%, 8%);
    font-family: Inter;
    font-size: 14px;
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.container {
    background-color: hsl(0, 0%, 12%);
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}
.Mentor {
    background-color: hsl(0, 0, 8);
    flex-direction: column;
    display: flex;
}
.Mentor button{
    margin-left: auto;
    margin-right: auto;
    border:none;
    outline: none;
    width: 300px;
    height: 48px;
    border-radius: 8px;
    color:white;
    background-color: hsl(0, 0%, 20%);
    transition: background-color 0.5s;
}
.Mentor button:hover{
    background-color:hsl(75, 94%, 57%);
}
.Nome {
    font-weight: 700;
    color: white;
}
.Local{
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    margin: 0;
}
.Info{
    font-weight: 400;
    color: white;
    margin: 20px 0 20px;
}
.imagem{
    margin-top: 30px;
}
